[defaults]
inventory = inventory/hosts.yml
roles_path = roles
vault_password_file = ~/.vault_pass
host_key_checking = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible_cache
fact_caching_timeout = 3600
callbacks_enabled = ansible.builtin.default
bin_ansible_callbacks = True
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True
