[Unit]
Description=Virtual X display for stream-display
After=network.target

[Service]
Type=simple
User=stream
ExecStart=/usr/bin/Xvfb :99 -screen 0 3840x2160x24 -nolisten tcp -ac +extension RANDR
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
