MQTT_BROKER={{ mqtt_broker }}
HTTP_ADDR=:{{ sentinel_http_port }}
PUBLIC_BASE_URL={{ sentinel_public_base_url }}
API_TOKEN={{ sentinel_api_token }}
FRIGATE_URL={{ frigate_url }}
RETENTION={{ sentinel_retention }}
{% if apns_key_b64 is defined and apns_key_b64 | length > 0 %}
APNS_KEY_B64={{ apns_key_b64 }}
APNS_KEY_ID={{ apns_key_id }}
APNS_TEAM_ID={{ apns_team_id }}
APNS_BUNDLE_ID={{ apns_bundle_id }}
{% endif %}
